APP_USERNAME=earthshab
APP_PASSWORD=makeupapassword
FLASK_SECRET_KEY=makeupalongpasswordexample
GOOGLE_MAPS_API_KEY=yourmapsapikey
GOOGLE_APP_PASSWORD=yourgmailapppasswrod
CESIUM_TOKEN=yourcesiumtoken
GMAIL_ADDRESS=youremail@gmail.com
